<div class="input-field">
    {% if field.label %}
        <label>{{ field.label }}</label>
        {% if field.errors %}
            {% for message in messages %}
              <div class="card-panel">
                <span class="red text-darken-2">{{ message }}</span>
              </div>
            {% endfor %}
        {% endif %}
    {% endif %}
  <input name="{{ field.name }}" type="{{ style.input_type }}" placeholder="{{ field.label }}"{% if field.value is not None %}value="{{ field.value }}"{% endif %} id="first_name" type="text" class="validate" >
  <span class="" data-error="Dato Incorrecto" data-success="Campo en Order"></span>
</div>